/* body{} */

img{width: 100px;}

table{
  background-color:navy;
  color:mistyrose;
  width: 50%;
}

td{
  border: 2px solid whitesmoke;
  padding: 10px;
}

.trgreen{
  background-color:green;
}

.orange{
  background-color:orange;
}

.fire{
  background-color: firebrick;
}

.green{
  background-color: green;
}

