

/* table traffic light section */


.tlfire{color:firebrick;} /* class selector text color */
.tlorange{color:orange;}
.tlgreen{color:green;}
.tl{
  background-color:black;
  font-size: 150px;
  width:100px;
  height: 300px;
  margin:0px; /* external distance from border*/
  padding:0px; /* internal distance from content to border */
  text-align: center; /* children horizontal placing */
  line-height: 0px; /* cheating to simulate form close to square */
  vertical-align:middle; /* children vertical placing */
}

/* div traffic light section */

.fire{
  background-color: firebrick;
}

.orange{
  background-color:orange;
}

.green{
  background-color: green;
}


.rounded{
  border-radius: 50%; /* round radius */
  width: 40px;
  height: 40px;
  margin: 10px;
  padding:0px;
}

.tldiv{
  border-radius: 8px;
  background-color: black;
  width: 60px;
  height: 60px;
  border: solid black 2px; /* solid black line 2px width border */
}